@import '_constants';
/*#run {
  position: absolute;
  right: 20px;
  top: 20px;
}*/
.case-name {
  color: red;
}
#user-output {
  float: left;
  width: 50%;
}
#benchmark-output {
  float: left;
  width: 30%;
  height: 300px;
}
#control {
  float: left;
  width: 20%;
  height: 300px;
}

.box {
  width: 100px;
  height: 100px;
  line-height:100px;
  color: black;
  text-align:center;
}
#css3-rotate-box {
  background-color: $red;
  color: white;
}
#greensock-box {
  background-color: $green;
}
#js-animate-box {
  background-color: $yellow;
}
#famous-box > div {
  background-color: $blue;
}

.rotated {
  -webkit-transition: transform 100ms;
  -moz-transition: transform 100ms;
  -o-transition: transform 100ms;
  transition: transform 100ms;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
